*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Bitter', serif;
  }
  header{
    position: relative;
    z-index: 2;
  }
  nav{
    background-color: rgb(8, 5, 5);
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
  }
  nav h1{
    flex:  1 1 20rem;
    margin-left: 2rem;
  }
  nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  nav li{
    display: flex;
    margin: 1rem;
    list-style: none;
  }
  a{
    text-decoration: none;
    color: rgb(199, 196, 196);
  }
  #logo{
    font-size: 2rem;
  }
  #logo:hover, 
  nav a:hover{
    text-decoration-line: overline;
    transition: all 0.3s ease;
  }
  .contact{
    color: cadetblue;
    text-decoration: overline;
  }

form{
    background-color: cadetblue;
    min-height: 90vh;
    width: 100%;
    padding: 4.5rem;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
     "contact line textarea"
     "contact line submit";

}
.contact-hero{
    background-color:rgba(31, 49, 40, 0.466);
    color: white;
    padding: 5rem;
    width: 40vw;
    margin: 1rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-hero label{
   grid-area: contact;
   margin: 0rem 3rem;
   font-size: 1.5rem;
   clear: both;
   display: inline-block;
   white-space: nowrap;
   
}
.contact-hero input{
   grid-area: contact;
   font-size: 1.5rem;
   border: none;
   border-radius: 1rem;
   text-align: center;
   color: rgb(58, 90, 83);
   padding: 0.5rem;
}
.empty{
    grid-area: line;
    color: rgba(255, 255, 255, 0);
    background-color:rgb(68, 94, 94);
    width:0.1rem;
    height: 100%;
}
.textarea{
    grid-area: textarea;
    margin: 3rem 0rem;
    height: 50vh;
    

}
textarea{
    background: rgb(170, 229, 200);
    margin-top: 4rem;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.75rem;
}
.submit{
    grid-area: submit;
    display: inline-block;
    height: 3rem;
    width: 40%;
    margin: auto;
    border: none;
    border-radius: 2rem;
    color: green;
    cursor: pointer;
    transition: all 0.5s ease;
}
.submit:hover{
    background-color: rgb(3, 68, 3);
    color: white;
}

  footer{
    background-color:rgb(8, 5, 5);
   color: white;
   font-size: 1.2rem;
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 
 footer h4{
   flex: 1 1 20rem;
   font-size: 1.5rem;
 }
 footer ul{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex: 1;
   list-style: none;
 }
 footer a:hover{
  color:rgb(76, 138, 135);
  transition: all 0.2s ease;
}
@media screen and (max-width: 842px) {
  /* BURGER */
  .burger {
   position: relative;
   display: block;
   cursor: pointer;
   margin-right: 2rem;
 }
 .burger span {
   padding: 0.1rem 2rem;
   background: white;
   margin: 0.5rem 0rem;
   display: block;
   transition: all 0.5s ease;
 }
 .nav-links a {
   color: white;
   font-size: 1rem;
 }
 .nav-links {
   background: cadetblue;
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 100%;
   flex-direction: column;
   align-items: center;
   transition: transform 1s ease;
   overflow: hidden;
 }
 .nav-open {
   transform: translateX(-100%);
 }

 .toggle .line1 {
   transform: rotateZ(50deg) translateY(300%);
   background: white;
 }
 .toggle .line2 {
   opacity: 0;
 }
 .toggle .line3 {
   transform: rotateZ(-50deg) translateY(-300%);
   background: white;
 }
 form{
   display: flex;
   flex-direction: column;
   height:100%;
   padding:4rem 0rem;
   margin-left:0;
 }
 .contact-hero{
   padding: 2rem;
   margin-left:0;
   border-radius: 0;
   position: relative;
   display: flex;
   flex-direction: column;
   width:100vw;
 }
 .contact-hero label{
   margin-bottom:0.75rem;
   font-size: 0.75rem;
 }
 .contact-hero input{
   width: 60vw;
   font-size: 0.75rem;
 }
.empty{
  display: none;
}
.textarea{
  margin: auto;
  height:auto;
  margin-bottom:2rem;
}
textarea{
  margin:0;
  border-radius: 10px;
  width: 90vw;
  height: 10rem;
}
button{
  font-size: 0.75rem;
}
 footer a{
   display: flex;
   padding:0.3rem;
 }
 footer p{
   display: none;
 }
}